{% extends "base.html" %}

{% block content %}
<div class="container pt-5"> 
    <div class="alert alert-danger" role="alert">
        Kamu yakin akan menghapus mata kuliah ini ?
    </div>
    <table>
        <tr>
            <td><p>Nama</p></td>
            <td><p class="pl-4">: {{matkul.nama}}</p></td>
        </tr>
        <tr>
            <td><p>SKS</p></td>
            <td><p class="pl-4">: {{matkul.sks}}</p></td>
        </tr>
        <tr>
            <td><p>Tahun</p></td>
            <td><p class="pl-4">: {{matkul.tahun}}</p></td>
        </tr>
    </table>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger" value="Yes" name="conf">Yes</button>
        <button class="btn btn-warning" value="No" name="conf">No</button>
    </form>
</div>







{% endblock %}