{% extends "base.html" %}


{% block content %}
<div class="container-fluid d-flex justify-content-center mt-4 pt-4">
    <div class="row">
        <div class = "col-4 pr-4">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-success" type="submit" value="Tambah Matkul">
                </form>
            </div>
        </div>
        <div class="col-8 pl-4">
            <table class="table table-striped ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nomor</th>
                        <th scope="col">Mata Kuliah</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                {% for matkul in listMatkul %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ matkul.nama }}</td>
                        <td>
                            <a class="btn btn-dark" href="/detail-matkul/{{matkul.id}}">Details</a>
                            <a class="btn btn-warning" href="/detail-matkul/{{matkul.id}}/delete-confirm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>



{% endblock %}