{% extends "base.html" %}


{% block content %}
<div class="container pt-2 d-flex justify-content-center">
    <h2>Detail Mata Kuliah</h2>
</div>
<div class="container pt-2">

    
    <table class="my-table">
        <tr>
            <td><p> Nama </p></td>
            <td><p class="pl-4">: {{listMatkul.nama}}</p></td>
        </tr>
        <tr>
            <td><p>Dosen</p></td>
            <td><p class="pl-4">: {{listMatkul.dosen}}</p></td>
        </tr>
        <tr>
            <td><p>SKS</p></td>
            <td><p class="pl-4">: {{listMatkul.sks}}</p></td>
        </tr>
        <tr>
            <td><p>Tahun</p></td>
            <td><p class="pl-4">: {{listMatkul.tahun}}</p></td>
        </tr>
        <tr>
            <td><p>Ruangan</p></td>
            <td><p class="pl-4">: {{listMatkul.ruangan}}</p></td>
        </tr>
        <tr>
            <td><p>Deskripsi</p></td>
            <td><p class="pl-4">: {{listMatkul.deskripsi}}</p></td>
        </tr>
    </table>
</div>
<div ></div>
{% endblock %}